# Ignore installed npm modules
node_modules/

# Ignore build tool output, e.g. code coverage
.nyc_output/
coverage/

# Ignore API documentation
api-docs/

# Ignore folders from source code editors
.vscode
.idea

# Commenting out because github actions doesn't seem to make the site available
# Ignore eleventy output when doing manual tests
#_site/

# Need this file for github actions to work correctly
#package-lock.json

test/stubs-layout-cache/_includes/*.js
