---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 12
  reverse: true
  alias: posts
---
<cards>
  {% for post in posts %}
    <card class="borderBlinkReverse">
      <h1>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h1>
      <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>

      {% excerpt post %}

      <a href="{{ post.url | url }}"
         aria-label="Read post on {{ post.data.title }}">Read post</a>
    </card>
  {% endfor %}
</cards>
