{%- if pagination.pages %}
  <nav>
    {% include "paginator.njk" %}
  </nav>
{% endif %}
<footer>
  <a href="https://twitter.com/davemcg3?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @davemcg3</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</footer>
