  <header>
    <a href="{{ '/' | url }}" class="borderBlink">Why I'm Not Coding Tonight</a>
    <span><a href="{{ '/about' | url }}">About</a></span>
  </header>
  {%- if pagination.pages %}
    <nav>
      {#
      {%- for pageEntry in pagination.pages %}
        <a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }} </a>
      {%- endfor %}
      #}
      <a href="{{ pagination.href.first }}" aria-current="page">First</a> |
      <a href="{{ pagination.href.previous }}" aria-current="Previous Page">Prev</a> |
      <a>{{ pagination.pageNumber + 1 }}</a> | {# TODO: add more pages here #}
      <a href="{{ pagination.href.next }}" aria-current="Next Page">Next</a> |
      <a href="{{ pagination.href.last }}" aria-current="Last Page">Last</a>
    </nav>
  {% endif %}
