  <header>
    <a href="{{ '/' | url }}" class="borderBlink">Why I'm Not Coding Tonight</a>
    <span><a href="{{ '/about' | url }}">About</a></span>
  </header>
  {%- if pagination.pages %}
    <nav>
      {% include "paginator.njk" %}
    </nav>
  {% endif %}
