@import url(https://fonts.googleapis.com/css?family=Orbitron);
body {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1200px;
  /*background-color: #636b46;*/
  background-color: #111;
  font-family: helvetica, arial, sans-serif;
  /*Photo by <a href="https://unsplash.com/@valentinbvs?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Valentin BEAUVAIS</a> on <a href="https://unsplash.com/s/photos/cyberpunk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>*/
  background-image: url("/assets/images/valentin-beauvais-yVUQlyRlJSw-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  color: #00b8ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#wrapper {
  /*background-color: #e9e7da;*/
  background-color: #091833;
  color: #373f27;
}
header {
  font-family: 'Orbitron', courier, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 1em;
  /*background-color: #cda34f;*/
  background-color: #111;
}
header a, header a:visited {
  /*color: #373f27;*/
  border: 2px solid #d600ff;
  border-radius: 5px;
}
/*header a:hover, header a:active {*/
/*  text-decoration: underline;*/
/*}*/
header > a:first-child {
  font-size: 200%;
  font-weight: bold;
}
header span {
  vertical-align: middle;
}
nav {
  padding: 1em;
  text-align: right;
  font-size: 130%;
}
main {
  padding: 1em;
}
cards {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5em;
}
card {
  border: 2px solid black;
  padding: 0 1em 1em 1em;
  display: inline-block;
  width: 250px;
  /*background-color: #d9d7ca;*/
  background-color: #111;
  color: white;
  text-align: center;
}
card h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #00b8ff;
  font-size: 150%;
}
card .glitcher {
  font-size: 2em;
}
.readable {
  background-color: #d9d7ca;
  padding: 1em;
}
footer {
  padding: 2em 1em;
  border-top: 1px solid #ccc;
  /*background-color: #cda34f;*/
  background-color: #111;
}

@-webkit-keyframes borderBlink {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: black
  }
}
@keyframes borderBlink {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: #d600ff;
  }
}
@keyframes borderBlinkReverse {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: #00ff9f;
  }
}
.borderBlink{
  border:2px solid #d600ff;
  /* add 'border-color: transparent' if you wish no border to show initially */
  -webkit-animation: borderBlink 0.75s step-end infinite;
  animation: borderBlink 0.75s step-end infinite;
}
.borderBlink:hover {
  -webkit-animation: borderBlink 0s step-end infinite;
  animation: borderBlink 0s step-end infinite;
}
.borderBlinkReverse:hover {
  border:2px solid #00ff9f;
  -webkit-animation: borderBlinkReverse 0.3s step-end infinite;
  animation: borderBlinkReverse 0.3s step-end infinite;
}
